$input-font-weight: 100;
$input-font-size: 24px;
$input-padding: 5px 10px;
$input-color: #EEE;
$input-placeholder-focus-opacity: 0.4;
$input-placeholder-color: #EEE;

$login-padding-top: 162px;
$signup-padding-top: 100px;
$width: 400px;
$height: 550px;

$button-color: #EEE;
$button-padding: 8px;
$button-background-color: rgba(184, 204, 202, 0.9); // rgba(169, 192, 191, 0.9);
$button-font-size: 24px;

$link-font-size: 14px;
$link-color: #EEE;

.login-container, .signup-container {
  width: $width;
  height: $height;
  text-align: center;
  position: relative;

  .login-form {
    // padding-top: $login-padding-top;
    position: relative;
    margin: auto;
    top: 25%
  }

  .signup-form {
    // padding-top: $signup-padding-top;
    position: relative;
    margin: auto;
    top: 25%
  }

  .login-form, .signup-form {
    color: white;

    .username, .email, .password,
    .password-confirmation, .join-button,
    .login-button {
      display: block;
      margin: 0 auto 15px auto;
      width: 300px;
      -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
      -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
      box-sizing: border-box;
    }

    .username, .email, .password,
    .password-confirmation {
      background: rgba(255, 255, 255, 0.2);
      border: none;
      font-size: $input-font-size;
      font-weight: $input-font-weight;
      padding: $input-padding;
      color: $input-color;

      /* change placeholder color */
      &::-webkit-input-placeholder { /* Chrome */
        color: $input-placeholder-color;
        transition: opacity 250ms ease-in-out;
      }
      &:focus::-webkit-input-placeholder {
        opacity: $input-placeholder-focus-opacity;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $input-placeholder-color;
        transition: opacity 250ms ease-in-out;
      }
      &:focus:-ms-input-placeholder {
        opacity: $input-placeholder-focus-opacity;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $input-placeholder-color;
        opacity: 1;
        transition: opacity 250ms ease-in-out;
      }
      &:focus::-moz-placeholder {
        opacity: $input-placeholder-focus-opacity;
      }
      &:-moz-placeholder { /* Firefox 4 - 18 */
        color: $input-placeholder-color;
        opacity: 1;
        transition: opacity 250ms ease-in-out;
      }
      &:focus:-moz-placeholder {
        opacity: $input-placeholder-focus-opacity;
      }

      /* remove focus outline */
      &:focus {
        outline: none;
      }
    }

    .join-button,
    .login-button {
      cursor: pointer;
      color: $button-color;
      background-color: $button-background-color;
      outline: none;
      border: none;
      font-size: $button-font-size;
      padding: $button-padding;

      position: relative;
      -webkit-transition-duration: 0.1s; /* Safari */
      transition-duration: 0.1s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;

      &:active {
        background-color: #8DA29F; //#3e8e41;
        transform: translateY(4px);
      }
    }
  }

  .signup-link, .login-link {
    color: $link-color;
    cursor: pointer;
    font-size: $link-font-size;
    display: block;
    margin: 0 auto;
    width: 300px;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    position: relative;
    top: 500px;
  }

}
